<h2>Criação de Novas Atividade</h2>
<form class="row g-3" method='POST' action='/atividade/cria' id="forms_atividade">
    <div class="col-9">
        <label for="titulo" class="form-label">Título</label>
        <input type='text' class="form-control" name='titulo' value="" size="60" />
    </div>

    <div class="col-3">
        <label for="prioridade" class="form-label">Prioridade da Atividade</label>
        <select name="prioridade" id="prioridade" class="form-select" required>
            <option value="" disabled selected hidden>Selecione a Prioridade</option>
            <option value="Alta">Alta</option>
            <option value="Média">Média</option>
            <option value="Baixa">Baixa</option>
        </select>
    </div>

    <div class="col-12">
        <label for="texto" class="form-label">Descrição da Atividade</label>
        <textarea class="form-control" rows="5" cols="57" name='texto'></textarea>
    </div>

    <div class="col-12">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="status" id="status" />
            <label for="status" class="form-check-label">Atividade Executada</label>
        </div>
    </div>

    <div class="col-12">
        <a href="/"><button type="button" class="btn btn-secondary">Cancelar</button></a>
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>
</form>