<h2>Informações sobre a Aplicação</h2>
<p><b>Autores:</b> Gustavo Júlio e Laura Cristina</p>
<p><b>Instituição:</b> IF Sudeste MG</p>
<p><b>Criado em:</b> Semestre 2023/1</p>
<hr>
<br><br>
<a href='/'>Voltar</a>